<toh-hero [hero]="selectedHero"></toh-hero>
<ul class="heroes">
  <li *ngFor="let hero of heroes"
    [class.selected]="hero===selectedHero"
    >
    <span class="badge">{{hero.id}}</span> 
    <span (click)="onSelect(hero)">{{hero.name}}</span>
    <button hidden></button>
  </li>
</ul>
