<toh-villain [villain]="selectedVillain"></toh-villain>
<ul class="villains">
  <li *ngFor="let villain of villains"
    (click)="onSelect(villain)"
    [class.selected]="villain===selectedVillain"
    >
    <span class="badge">{{villain.id}}</span> {{villain.name}}
  </li>
</ul>
