.selected {
  background-color: #E2001A !important;
  color: white;
}
.villains {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}
.villains li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: 0.3em 0.3em 0.3em 0;
  height: 1.6em;
  border-radius: 4px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.villains li.selected:hover {
  background-color: #A70619 !important;
  color: white;
}
.villains li:hover {
  color: #E2001A;
  background-color: #DDD;
  left: .1em;
}
.villains .text {
  position: relative;
  top: -3px;
}
.villains .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #E2001A;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}
